.about_container {
  border             : 1px yellow dashed;
  background-color   : #dddddd80;
  border-radius      : 10px;
  box-shadow         : 2px 2px 20px 10px #dddddd80;
  margin             : 20px;
  width              : 0;
  display            : inline-flex;
  flex-wrap          : wrap;
  flex-basis         : content;
  overflow           : hidden;
  justify-content    : space-evenly;
  animation          : container-roll-in 0.2s;
  animation-fill-mode: forwards;
}

@keyframes container-roll-in {
  100% {
    width: calc(100% - 40px);
  }
}

.about_left {
  display            : block;
  position           : relative;
  max-width          : calc(100vw/12*2 + 100vw/12*1);
  padding            : 20px;
  left               : -1000px;
  visibility         : hidden;
  animation          : left-fly-in 1s ease-in-out;
  animation-delay    : 0.1s;
  animation-fill-mode: forwards;
}

@keyframes left-fly-in {
  100% {
    visibility: visible;
    left      : 0px;
  }
}

.about_left h1 {
  font-size : 3rem;
  margin    : 0 0 1rem;
  text-align: left;
  color     : #ffffff;
}

#about_description {
  font-size : 1.5rem;
  text-align: left;
  color     : #564141;
}

.about_right {
  position           : relative;
  padding            : 20px;
  max-width          : calc(60vw - 20px);
  min-width          : 100px;
  width              : calc(60vw - 20px);
  height             : auto;
  object-fit         : cover;
  left               : 1000px;
  visibility         : hidden;
  animation          : right-fly-in 1s ease-in-out;
  animation-delay    : 0.1s;
  animation-fill-mode: forwards;
}

@keyframes right-fly-in {
  100% {
    visibility: visible;
    left      : 0px;
  }
}

.about_carousel {
  /* background-color: grey; */
  /* max-width       : calc(100vw/12*5 + 100vw/12*1); */
  /* min-width    : 100px; */
  border-radius: 15px;
  width        : max-content;
  height       : 100%;
  object-fit   : cover;
}

.about_pic {
  max-width    : calc(100vw/12*5 + 100vw/12*1);
  min-width    : 100px;
  border-radius: 15px;
  padding      : 2px;
  width        : max-content;
  object-fit   : cover;
  border-radius: 15px;
}