.about_left {
  /* border             : 1px green dashed; */
  position           : relative;
  flex               : auto;
  padding-right      : 15px;
  width              : 33%;
  min-width          : min-content;
  left               : -1000px;
  visibility         : hidden;
  animation          : left-fly-in 1s ease-in-out;
  animation-delay    : 0.1s;
  animation-fill-mode: forwards;
}

@keyframes left-fly-in {
  100% {
    visibility: visible;
    left      : 0px;
  }
}

.about_left h1 {
  font-size : calc(1.1rem + 3vw);
  margin    : 0 0 1rem;
  text-align: left;
  color     : #ffffff;
}

#about_description {
  font-size : calc(0.8rem + 1vw);
  text-align: left;
  color     : #564141;
}

.about_right {
  /* border             : 1px red dashed; */
  border-radius      : 15px;
  position           : relative;
  flex               : auto;
  width              : 64%;
  height             : auto;
  object-fit         : cover;
  overflow           : hidden;
  left               : 1000px;
  visibility         : hidden;
  animation          : right-fly-in 1s ease-in-out;
  animation-delay    : 0.1s;
  animation-fill-mode: forwards;
}

@keyframes right-fly-in {
  100% {
    visibility: visible;
    left      : 0px;
  }
}

.about_carousel {
  height    : 100%;
  flex      : auto;
  object-fit: cover;
  min-height: 50vh;
}

.about_carousel>div {
  justify-content: center !important;
}

.about_pic {
  border-radius: 15px;
  width        : 80vw;
  min-width    : 100px;
  padding      : 2px;
  object-fit   : cover;
}