.contact_left {
  /* background-color                  : grey; */
  display                  : block;
  position                 : relative;
  /* max-width             : calc(100%/3*2 - 40px); */
  max-width                : max-content;
  width                    : 100%;
  padding                  : 20px;
  left                     : -1000px;
  visibility               : hidden;
  animation                : left-fly-in 1s ease-in-out;
  animation-delay          : 0.1s;
  animation-fill-mode      : forwards;
}

@keyframes left-fly-in {
  100% {
    visibility: visible;
    left      : 0px;
  }
}

.contact_left h1 {
  font-size : 3rem;
  margin    : 1rem 0 1rem;
  text-align: left;
  color     : #ffffff;
}

.contact_left i {
  font-size: 2rem;
}

input {
  font-size       : 1.5rem;
  width           : calc(90%);
  text-align      : left;
  color           : #564141;
  border-radius   : 10px;
  margin          : 5px;
  padding         : 5px;
  background-color: antiquewhite;
}

input:focus {
  background-color: white;
}

input::placeholder {
  color: lightgrey;
}

.contact_right {
  /* background-color         : yellow;   */
  position           : relative;
  display            : inline-block;
  padding            : 20px;
  max-width          : max-content;
  width              : calc(100vw/12*4 + 100vw/12*1);
  left               : 1000px;
  visibility         : hidden;
  animation          : right-fly-in 1s ease-in-out;
  animation-delay    : 0.1s;
  animation-fill-mode: forwards;
}

@keyframes right-fly-in {
  100% {
    visibility: visible;
    left      : 0px;
  }
}

.contact_pic {
  min-width : 100px;
  max-height: 100%;
  max-width : 100%;
  height    : 50vh;
  object-fit: cover;
}

.contact_right p {
  font-size: 1.5rem;
  margin   : 0;
  padding  : 10px 20px 0;
  color    : #564141;
  min-width: 30vw;
}

.contact_right .address {
  display            : flex;
  margin-left        : 2rem;
  align-items        : center;
  /* background-color: red; */
}