.contact_container {
  background-color : #dddddd80;
  border-radius    : 10px;
  box-shadow       : 2px 2px 20px 10px #dddddd80;
  margin           : 20px;
  width            : calc(100% - 40px);
  display          : inline-flex;
  /* flex-direction: row;   */
  flex-wrap        : wrap;
  flex-basis       : content;
  /* align-items   : center;  */
  justify-content  : center;
}

.contact_left {
  display               : block;
  /* max-width          : calc(100%/3*2 - 40px); */
  max-width             : max-content;
  /* width              : calc(100vw/12*5 + 100vw/12*1); */
  width                 : calc(100%/2 - 60px);
  position              : relative;
  /* left               : 20px; */
  padding               : 20px;
  /* background-color   : grey; */
}

.contact_logo {
  width              : 50%;
  min-width          : 150px;
  max-width          : 300px;
  height             : auto;
  min-height         : 120px;
  position           : relative;
  top                : 10px;
  left               : 10px;
  object-fit         : cover;
  /* background-color: rgb(46, 179, 179);     ! to change */
}

.contact_left h1 {
  font-size : 3rem;
  margin    : 2rem 0 1rem;
  text-align: left;
  color     : #ffffff;
}

.contact_left i {
  font-size: 2rem;
}

#contact_description {
  font-size : 1.5rem;
  text-align: left;
  color     : #564141;
}

.contact_right {
  display               : block;
  position              : relative;
  /* max-width          : calc(100vw/12*4 + 100vw/12*1); */
  /* max-width          : calc(60% - 30px); */
  max-width             : max-content;
  width                 : calc(100vw/12*4 + 100vw/12*1);
  padding               : 20px;
  /* background-color   : yellow;   */
}

.contact_right p {
  font-size: 1.5rem;
  margin   : 0;
  padding  : 10px 20px 0;
  color    : #564141;
}

.contact_pic {
  min-width : 100px;
  max-height: 100%;
  max-width : 100%;
  height    : 50vh;
  object-fit: cover;
}