.contact_container {
  background-color       : #dddddd80;
  border-radius          : 10px;
  box-shadow             : 2px 2px 20px 10px #dddddd80;
  margin                 : 20px;
  width                  : calc(100% - 40px);
  display                : inline-flex;
  /* flex-direction      : row;   */
  flex-wrap              : wrap;
  flex-basis             : content;
  /* align-items         : center;  */
  /* justify-content     : center; */
  justify-content        : space-evenly;
}

.contact_logo {
  width              : 50%;
  min-width          : 150px;
  max-width          : 300px;
  height             : auto;
  min-height         : 120px;
  position           : relative;
  top                : 10px;
  left               : 10px;
  object-fit         : cover;
  /* background-color: rgb(46, 179, 179);     ! to change */
  animation          : logo-in 0.9s ease-in;
}

@keyframes logo-in {
  0% {
    opacity: 0
  }
}

.contact_left {
  display                  : block;
  /* max-width             : calc(100%/3*2 - 40px); */
  max-width                : max-content;
  /* width                 : calc(100vw/12*5 + 100vw/12*1); */
  /* width                 : calc(100%/2 - 60px); */
  width                    : 100%;
  position                 : relative;
  /* left                  : 20px; */
  padding                  : 20px;
  /* background-color      : grey; */

}

.contact_left h1 {
  font-size : 3rem;
  margin    : 1rem 0 1rem;
  text-align: left;
  color     : #ffffff;
}

.contact_left i {
  font-size: 2rem;
}

input {
  font-size       : 1.5rem;
  width           : calc(90%);
  text-align      : left;
  color           : #564141;
  border-radius   : 10px;
  margin          : 5px;
  padding         : 5px;
  background-color: antiquewhite;
}

input:focus {
  background-color: white;
}

input::placeholder {
  color: lightgrey;
}

.contact_right {
  display                     : inline-block;
  position                    : relative;
  /* max-width                : calc(60% - 30px); */
  max-width                   : max-content;
  width                       : calc(100vw/12*4 + 100vw/12*1);
  padding                     : 20px;
  /* background-color         : yellow;   */
}

.contact_pic {
  min-width : 100px;
  max-height: 100%;
  max-width : 100%;
  height    : 50vh;
  object-fit: cover;
}

.contact_right p {
  font-size: 1.5rem;
  margin   : 0;
  padding  : 10px 20px 0;
  color    : #564141;
  min-width: 30vw;
}

.contact_right .address {
  display            : flex;
  margin-left        : 2rem;
  align-items        : center;
  /* background-color: red; */
}