.home_body {
  background-image: url("../assets/img/home-background.jpg");  
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* background-image: url(firefox.png),
    url(bubbles.png),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right; */
}

.home_welcomemsg {
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
}

.menu_top_right {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  padding: 0 2rem 0 2rem;
  font-size: 2rem;
  color: #e1c2b6;
  filter: drop-shadow(0px 6px 4px rgba(0,0,0,0.25));
}

.home_openingsoon {
  padding: 3rem;
  font-size: 6rem;
  text-align: center;
  color: #997b2c;
  filter: drop-shadow(6px 4px 3px rgba(255, 255, 255, 0.7));
}

.home_logo {
    width: 358px;
    height: 274px;
     /* position: 'absolute', */
       /* left: 38, */
       /* top: 97, */
       /* objectFit: 'cover' */
  
}