.menu_top_right {
   display        : flex;
   flex-direction : row;
   flex-wrap      : wrap;
   align-content  : center;
   justify-content: flex-end;
   align-items    : center;
   padding        : 1rem;
   font-size      : 2rem;
   font-weight    : bold;
   color          : #e1c2b6;
   filter         : drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
   position       : relative;
   top            : 0px;
}

.menu-link {
   opacity: 0.7;
}

.menu-link:hover {
   text-decoration: none;
   opacity        : 0.8;
   color          : white;
   /* transform   : rotate(-45deg);   */
   transition     : 0.2s ease-in-out;
}