# see: gitignore_global #
# --------------------- #

# dependencies
node_modules/
/node_modules
.pnpm
/.pnpm
/.pnp
.pnp.js
/vendor/

# testing
/coverage

# production
/build
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log*

# Packages & Backups
*.zip
/*.zip
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.bak
*.bak/
/*.bak
zip/
bak/

# misc
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local
*.ext~ 
*.ext.swp
# C
*.[oa]
*~
*.ext~
*.swp
*.lnk
/*.lnk

# special
/*uploads/*
/*downloads/*
