@font-face {
  font-family: 'CustomFont';
  src        : url('../assets/fonts/Marcellus-Regular.ttf') format('embedded-opentype'),
    /* IE */
    url('../assets/fonts/Marcellus-Regular.ttf') format('woff2'),
    /* Super Modern Browsers */
    url('../assets/fonts/Marcellus-Regular.ttf') format('woff'),
    /* Pretty Modern Browsers */
    url('../assets/fonts/Marcellus-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/fonts/Marcellus-Regular.ttf') format('svg');
  /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus');
/* https          ://fonts.google.com/specimen/Marcellus */

* {
  font-family               : 'CustomFont', Marcellus, sans-serif;
  /* !important */
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing    : antialiased; */
}

html {
  background-color   : #C79780;
  background-repeat  : no-repeat;
  background-position: right;
}

body {
  color    : white;
  /* border: 1px yellow dashed; */
}

a {
  color          : #f3d4d4;
  text-decoration: none;
  display        : inline-block;
}

a:hover {
  color             : #c44c14;
  color             : white;
  text-shadow       : 1px 1px 0 black;
  /* text-decoration: underline; */
}

.block {
  text-align   : center;
  background   : white;
  border-radius: 3px;
  padding      : 20px;
  color        : black;
  margin       : 20px;
  width        : 100%;
}

.container {
  /* border             : 1px yellow dashed; */
  background-color   : #dddddd80;
  border-radius      : 10px;
  box-shadow         : 2px 2px 20px 10px #dddddd80;
  margin             : 20px;
  padding            : 20px;
  width              : 0;
  display            : inline-flex;
  flex-wrap          : wrap;
  flex-basis         : content;
  overflow           : hidden;
  justify-content    : space-evenly;
  animation          : container-roll-in 0.2s;
  animation-fill-mode: forwards;
}

@keyframes container-roll-in {
  100% {
    width: calc(100% - 80px);
  }
}